header {
    display: flex;

    padding: 1rem 2rem;
    background-color: rgb(94, 66, 219);
}


body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    color: black;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    
}