header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(94, 66, 219);
}


body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    color: black;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    
}


.menu {
    list-style: none;
    display:flex;
    margin: 0 10px;
}


section {
    padding: 2rem 0;
    border-top:1ch;
}


input {
    box-sizing: border-box;
    width: 100%;
    padding: 0%;
    border: 2cap;
    margin-bottom: 2%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0%;
    border: 2cap;
    margin-bottom: 2%;
}


button {
    background-color: blue;
    color: rgb(255, 255, 255);
    border: 0;
    padding: 1%;
}


li {
    display:flex;
    margin: 20px;
}

a {
    text-decoration: none;
    color: rgb(21, 255, 0);

}